:root{
    --main-color:#316AD9;
    --white:#ffffff;
    --white-two: #E9E9E9;
    --black:#000000;
    --black-tow:#010101;
    --black-mood:#161922;
    --black-mood-two:#1F2125;
    --black-mood-three: #201E26;
    --black-mood-four: #262833;
    --black-two:#2F323D;
    --black-three:#333;
    --gray: #F0F2F8;
    --gray-two: #E1E7F8;
    --gray-three: #939598;
    --gray-four: #9CB2EA;
    --blue-two: #35347E;
    --blue-three: #6066FF;
    --blue-four: #4970D2;
    --blue-five: #5E77D0;
    --sliver: #FAFAFA;
    --sliver-two: #E1E7F8;
    --sliver-tree: #696B78;
    --sliver-four: #B4B4B4;
    --sliver-five: #EFF1F4;
    --sliver-six: #DDDDE0;
    --sliver-whit: #EBE8E8;
    --sliver-whit-ser: #D4CEC9;
    --sliver-mood: #5D5C5A;
    --sliver-mood-seree: #7A7A7A;
    --sliver-mood-two: #A4A09F;
    --sliver-mood-seven: #F7F7FD;
    --red: #E43943;
    --red-two: #B74B53;
    --red-three: #FF4352;
    --green: #4BAC7E;
    --yellow: #ECC333;
    --yellow-two: #DDA95B;
    --gazar: #CC6931;
    --gazar-two: #D95931;
}
